[build]
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

# This section is optional but can help with redirects
[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200
